{% extends "base.html" %}
{% block body %}
<h1>{{message}}</h1>
<h3>Available Routes:</h3><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/precipitation" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/precipitation</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/stations" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/stations</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/tobs" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/tobs</a><br><br>

The last two API endpoints contain the wildcard values <br> for start and end dates (e.g., ... /temp/2017-06-01/2017-06-30): <br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/temp/2017-06-01" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/temp/[start]</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/temp/2017-06-01/2017-06-30" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/temp/[start]/[end]</a>
{% endblock %}