{% extends "base.html" %}
{% block body %}
<h1>{{message}}</h1>
<h3>Available Routes:</h3><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/precipitation" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/precipitation</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/stations" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/stations</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/tobs" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/tobs</a><br>
<a href="https://api-flask-example-01.herokuapp.com/api/v1.0/tobs" target="_blank">https://api-flask-example-01.herokuapp.com/api/v1.0/tobs</a>
{% endblock %}